# COPY THIS FILE INTO A NEW .env FILE TO RUN APP

REACT_APP_GOOGLE_MAPS_API_KEY=YOUR_API_KEY

REACT_APP_INCIDENTS_API_URL=http://gis.richmondgov.com/ArcGIS/rest/services/StatePlane4502/CommonBoundaries/MapServer/