# COPY THIS FILE INTO A NEW .env FILE TO RUN APP

GOOGLE_MAPS_API_KEY=ENTER_YOUR_API_KEY

# BE CAREFUL TO USE API URL WITH SLASH AT THE END
INCIDENTS_API_URL=http://gis.richmondgov.com/ArcGIS/rest/services/StatePlane4502/CommonBoundaries/MapServer/